footer {
  background-color: #f9f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
footer .logo {
  margin-bottom: 24px;
}
footer nav {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
footer nav a {
  font-size: 12px;
  font-weight: 700;
  color: #4f4445;
}
footer p {
  font-weight: 500;
  font-size: 16px;
  color: #4f4445;
}
